* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #060608e8;
    color: deeppink;
    font-family: 'Noto Sans SC', sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 0;
    width: 100%;
}

/* ----- Hamburger Menu -----*/
.hamburger {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
}
    
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: deeppink;
    margin: 6px 0;
    transition: 0.4s;
}
    
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-50deg) translate(-8px, 6px);
}
    
/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}
    
/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px) ;
}
  
/*------------------------------*/

.drop-down {
  display: none;
  justify-content: flex-start;
  list-style-type: none;
  padding-top: 55px;
}

.show {
    display: flex;
    flex-direction: column;
    background-color: #1d1d1fd6;
    height: 100vh;
    width: 100%;
    position: absolute;
}


.drop-down > li {
    margin: 0 10px;
    padding: 5px;
    text-decoration: none;
    color: deeppink;
    letter-spacing: 1.3px;
    display: flex;
    justify-content: flex-end;
}

.drop-down > li:hover {
    cursor: pointer;
}

.header {
    background-image: url("https://images.unsplash.com/photo-1489875347897-49f64b51c1f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-position: 35%;
    background-size: cover;
    color: #fefefe;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: -4px -4px 20px deeppink;
}

.header > h1 {
    font-size: 2.2rem;
}
.header > h2 {
    font-size: 1.5em;
}



/* main sections */
main {
    margin: 20px;
}

section {
    margin: 40px 23px;
}
section > h2 {
    text-align: center;
    margin: 10px 0 20px 0;
}
/* --------------- */
p, a, ul {
    color: #fefefe;
}


.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
	align-items: center;
    align-content: space-around;
    list-style: none;
}
.skills-list > li {
    padding:10px 4px;
    color: #fefefe
}
 .email:hover, a:hover, .skills-list > li:hover{
    color: #7DE600;
    font-size: 18px;
}

.project-details {
    margin: 20px 0;
}
.project-details h3 {
    color: deeppink;
    padding: 20px 0;
}
.project-details > p, a {
    padding-bottom: 20px;
} 


.media-container {
    display: flex;
    flex-direction: column;
    align-items: center
}
video, img {
    width: 220px;
    border: 1px solid #fefefe;
}

/* About Me */
.ambitions {
    padding: 20px;
    list-style: circle;
}

/* Contact */
.contact-details {
    text-align: center;
    margin: 10px;
}

.contact-details > a, .email  {
    margin: 0 15px;
    display: inline-block;
}




@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}


/* 
 Colors
 #083D77
 #7DE600
*/