* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #060608e8;
    color: deeppink;
    font-family: 'Noto Sans SC', sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 1;
}

/* ----- Hamburger Menu -----*/
.hamburger {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    background-color: #1c1c1e00;
    border: 0;
    z-index: 1;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: deeppink;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-50deg) translate(-8px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/*------------------------------*/

.drop-down {
  display: none;
  justify-content: flex-start;
  list-style-type: none;
  padding-top: 55px;
}

.show {
    display: flex;
    flex-direction: column;
    background-color: #1d1d1fd6;
    height: 100vh;
    width: 100%;
    position: absolute;
}


.go-to {
    margin: 0 10px;
    padding: 5px;
    text-decoration: none;
    color: deeppink;
    letter-spacing: 1.3px;
    display: flex;
    justify-content: flex-end;
}

.go-to:hover {
    cursor: pointer;
}

.header {
    background-image: url("./assets/caspar-camille-rubin-224229-unsplash.jpg");
    background-position: 35%;
    background-size: cover;
    color: #fefefe;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: -2px -2px 2px deeppink;
}

.header > h1 {
    font-size: 2.2em;
}
.typewrite {
    font-size: 1.5em;
}
.typewrite > .wrap {
    border-right: 3px solid #7DE600;
}


/* main sections */
main {
    margin: 20px;
}

section {
    padding: 20px 25px;
}
section > h2 {
    text-align: center;
    padding: 20px 0px;
}
/* --------------- */
p, a, ul {
    color: #fefefe;
}
a {
    text-decoration-color: #7DE600;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
	align-items: center;
    align-content: space-around;
    list-style: none;
}
.skills-list > li {
    padding:10px 4px;
    color: #fefefe
}
a, .skills-list > li {
    transition: transform 1s;
}
a:hover, .skills-list > li:hover {
    color: #7DE600;
    transform: scale(1.18);
    font-style: italic;
}

.project-details {
    margin: 20px 0;
}
.project-details h3 {
    color: deeppink;
    padding: 20px 0;
}
.project-details > p, a {
    padding-bottom: 20px;
}
.media-container {
    display: flex;
    flex-direction: column;
    align-items: center
}
video, img {
    width: 220px;
    border: 1px solid #fefefe;
}

/* About Me */
.ambitions {
    padding: 20px;
    list-style: circle;
}

/* Contact */
#Contact {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact-details {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contact-details a {
    padding: 0;
}
.svg-inline--fa {
    font-size: 32px;
}
.screen-reader-text {
    position: absolute;
    top: -9999px;
    left: -9999px;
}


@media only screen and (min-device-width: 375px){
    video, img {
        width: 250px;
    }
}

/* iPad */
@media only screen
  and (min-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 1) {
    nav {
        background-color: #060608e8;
    }
    .colorChange {
        background-color: #1c1c1e;
    }
    .drop-down {
        display: flex;
        padding: 10px;
    }
    .hamburger {
        display: none;
    }
    .go-to {
        font-size: 1em;
    }
    section > h2 {
        margin-top: 20px;
    }
    video, img {
        width: 500px;
    }
}

@media screen
  and (min-device-width: 800px) {
    main {
        width: 85vw;
        margin: auto;
    }
    a:focus {
        outline-color: deeppink;
    }
    #Skills {
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .skills-list > li {
        padding: 10px;
        font-size: 18px;
    }
    .project-details > a {
        padding: 0 10px 20px 0;
    }
    video, img {
        margin: 20px;
    }
    #Contact {
        height: 50vh;
    }
    .contact-details {
        justify-content: center;
        height: 50%;
    }
    .contact-details a {
        padding: 20px;
    }
}

@media screen and (min-device-width: 1280px){
    p, a {
        font-size: 18px;
        letter-spacing: 1.5px;
    }
    .header > h1 {
        font-size: 74px;
    }
    .typewrite {
        font-size: 40px;
    }
    .header > h1, .typewrite, .project-details > h3, section > h2 {
        letter-spacing: 2.5px;
    }
    main {
        width: 90vw;
    }
    section > h2 {
        font-size: 38px;
    }
    #Skills {
        height: 60vh;
        justify-content: space-around;
    }
    .skills-list > li, .go-to {
        font-size: 28px;
        letter-spacing: 1.5px;
    }
    .skills-list > li {
        padding: 20px;
    }
    .project {
        display: flex;
        align-items: center;
        margin: 10% 0;
    }
    .project-details {
        margin: 20px;
    }
    .project:nth-child(2n+1){
        flex-direction: row-reverse
    }
    .project-details > h3 {
        padding: 0 0 10px 0;
        font-size: 24px;
    }
    .svg-inline--fa {
        font-size: 42px;
    }
}

@media screen and (min-device-width: 1440px){
    main {
        width: 80vw;
    }
    .go-to {
        font-size: 24px;
    }
}


/*
 Colors
 #083D77
 #7DE600
*/